body{
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeScans, 'Hiragino Sans GB', sans-serif;
	background-image: url("background.jpg");
}
a{
	color: gray;
	text-decoration: none;
}
#head{
	width:960px;
	color: white;
	margin:  auto;
	border-bottom: dashed 1px white;
	margin-bottom: 10px;
}

#wrapper{
	width:960px;
	height: 500px;
	margin:  auto;
	margin-top: 20px;
}


.main{
	width:  640px;
	background-color: white;
	float: left;
	margin-right: 20px;
	border-radius: 8px;
	padding: 20px;
}

.site{
	width:  240px;
	background: white;
	float: right;
	border-radius: 8px;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#footer{
	width: 960px;
	border-top: dashed 1px white ;
	margin-top: 20px;
	padding: 10px;
}

.logo_title{
	float: left;
}

.logo_title h1{
	font-size: 30px;
}

.logo_title h2{
	font-size: 20px;
}
.navi{
	float: right;
}

.clear{
	clear: both;
}

.navi ul{
	list-style: none;
	margin-top: 70px;
}

.navi ul li{
	display: inline-block;
	margin-right: 20px;
}

.navi ul li a{
	color: white;
	border:solid  1px white;
	padding: 4px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 6px;

}

.item_img{
	float: left;
	width: 100px;
	padding-top: 10px;
}
.item_img img{
	width: 80px;
}

.item_content{
	padding-left: 100px;
}

.item_content h3{
	font-size: 16px;
	color: #a5612d;
	margin: 0;
}

.item_info{
	font-size: 10px;
	font-style: italic;
	margin: 0;
	color: #999;
}

.item_desc{
	font-size: 14px;
	margin: 0;
	color: gray;
	margin-top: 10px;
	border-left: solid 1px  #ccc;
	padding-left: 10px;
}

.item{
	border-bottom: dashed 1px #ccc;
	padding-bottom: 5px;
	margin-top: 15px;
}

.author_img{
	width: 120px;
	margin: auto;
}

.author_img img{
	width: 120px;
	margin: auto;
	border: solid 1px #ccc;
	border-radius: 8px;
}

.author_desc{
	text-align: center;
	border:solid 1px #ccc;
	border-radius: 8px;
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.author_desc h4{
	margin: 0;
	margin-bottom: 10px;
	
}
.author_desc p{
	margin: 0;
	font-size: 14px;
}

.top_article h3{
	font-size: 20px;
	font-style: italic;
	border-bottom: dashed 1px #ccc;
	color: #999;
}

.top_article ul{
	list-style: none;
	padding-left: 10px;
}

.top_article ul li{
	margin-top: 10px;
	color: #999;
}

.site_info{
	margin-top: 30px;
	border-top: solid 1px #ccc;
}

.site_info p{
	font-size: 14px;
	color: gray;
	padding-left: 50px;
	margin: 0;
	margin-top: 10px;
}

.site_about{
	float: left;
	color: white;
	padding-left: 30px;
}

.site_link{
	float: right;
}

.site_link ul{
	list-style: none;
	margin: 0;
}

.site_link ul li{
	display: inline-block;
	margin: 0;
	color: white;
	padding-right: 10px;
}